body {
  font-family: 'Patua One','Helvetica Neue',Helvetica,Arial,sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.jumbotron {
  text-align: center;
}

.jumbotron h2 {
  font-family: 'Nothing You Could Do','Helvetica Neue',Helvetica,Arial,sans-serif;
}

